@font-face {
  font-family: '7x12';
  src:
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.woff') format('woff'),
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.ttf') format('ttf');
}

:root {
  --font-body: '7x12', sans-serif;
  --font-code: '7x12', monospace;
  --bg-color: #000;
  --text-color: #0f0;
  --link-color: #000;
  --link-bg-color: #0f0;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

header,
footer {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

pre {
  display: flex;
  justify-content: center;
  line-height: 5em;
}

code {
  font-weight: bold;
  font-size: 5em;
}

a:link,
a:visited {
  color: #000;
  background: #0f0;
  text-decoration: none;
}

canvas {
  border: 1px solid #0f0;
  max-width: 100%;
}
