@font-face {
  font-family: '7x12';
  src:
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.woff') format('woff'),
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/iolo/7x12-fonts/refs/heads/main/7x12.ttf') format('ttf');
}

:root {
  font-family: '7x12', monospace;
  font-size: 24px;
  color: #0f0;
  background: #000;
}

a:link, a:visited {
  color: #000;
  background: #0f0;
  text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.canvas-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
}

.canvas-wrapper {
    flex: 1;
}

canvas {
    border: 1px solid #ccc;
    max-width: 100%;
}

.controls {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px;
}

h2 {
    margin: 10px 0;
}

select {
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
